<div class ="row">
	<div class =".col-md-4">
		<h4><%= link_to_unless_current post.title, post %></h4>
	</div>
	<div class =".col-md-8">
		<%= post.body %>
	</div>
  <div>
    <%= image_tag(post.image.url(:med)) %>
  </div>
</div>